{% extends 'base.html.twig' %}

{% block title %} Get free car in Taxi park{% endblock %}

{% block body %}




    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>

        <tbody>

            {% for car in get_cars %}

        <tr>
            <td>
                <a href="{{ path('car_show',{'carName': car.name}) }}">{{ car.name }}</a>
            </td>
            <td>{{ car.CarType }}</td>
            <td>{{ car.updatedAt|date('Y-m-d') }}</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>


{% endblock %}
