{% extends 'base.html.twig' %}

{% block title %}Login Taxo Park{% endblock %}

{% block body %}

    <div class="form-wrapper text-center">
        <form class="form-signin"  method="post">
            <img class="mb-4" src="assets/img/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
            <label for="inputEmail" class="sr-only">Name</label>
            <input type="text" name="login" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <a href="#">Login</a>
        </form>
    </div>

{% endblock %}
