{% extends 'base.html.twig' %}

{% block title %} Taxo Park Home {% endblock %}

{% block body %}

    <h1 class="page-header">Welcome to our TAXOPARK
        <small>Visualize Quality</small>
    </h1>

{% endblock %}
