{% extends 'car/formLayout.html.twig' %}

{% block body %}
    <div class="container cont">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Car info</h1>

                {{ include('car/_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}